.header {
  background-color: #EEEFF1;
  padding-top: 79px;
  padding-bottom: 20px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.header__nav-toggler,
#nav-toggler {
  display: none;
}

.header__list {
  display: flex;
  list-style-type: none;
  gap: 50px;
}

.header__link {
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header__link.header__link--active {
  color: #34547a;
  font-weight: 500;
}

.header__link:hover,
.header__link:focus {
  opacity: 0.8;
}

.header__link:active {
  opacity: 0.3;
}

@media screen and (max-width: 1170px) {
  .header {
    width: 100%;
    display: flex;
    align-self: flex-end;
  }
}
@media screen and (max-width: 880px) {
  .header__list {
    position: absolute;
    top: 65px;
    left: 0;
    height: calc(100dvh - 65px);
    background: #EEEFF1;
    translate: -200vw 0;
    transition: translate 0.5s;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  input:checked ~ .header__list {
    translate: 0;
  }
  .header {
    padding-top: 20px;
    align-items: center;
  }
  .header__nav-toggler {
    display: block;
    background: none;
    border: none;
    padding: 0;
    position: relative;
    width: 45px;
    height: 45px;
  }
  .header__nav-toggler span,
  .header__nav-toggler::before,
  .header__nav-toggler::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: black;
    transition: 0.5s;
  }
  .header__nav-toggler::before {
    margin-top: -10px;
  }
  .header__nav-toggler::after {
    margin-top: 10px;
  }
  input:checked + .header__nav-toggler::after,
  input:checked + .header__nav-toggler::before {
    margin-top: 0;
    rotate: 225deg;
  }
  input:checked + .header__nav-toggler span {
    opacity: 0;
  }
  input:checked + .header__nav-toggler::after {
    rotate: -225deg;
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding-top: 10px;
  }
}
.container {
  padding: 0 calc(50vw - 555px);
}

@media screen and (max-width: 1170px) {
  .container {
    padding-left: calc(50vw - 360px);
    padding-right: calc(50vw - 360px);
    width: 100%;
  }
  .container header {
    width: 100%;
    display: flex;
    align-self: flex-end;
  }
}
@media screen and (max-width: 880px) {
  .container {
    padding-left: calc(50vw - 260px);
    padding-right: calc(50vw - 260px);
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding-left: calc(50vw - 160px);
    padding-right: calc(50vw - 160px);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}
.offer {
  background-color: #EEEFF1;
  padding-bottom: 141px;
  padding-top: 257px;
}

.offer__title {
  font-weight: 500;
  font-size: 48px;
  margin: 0 0 60px;
}

.offer__description {
  max-width: 540px;
  margin: 0 0 60px;
  color: #727272;
}

@media screen and (max-width: 1170px) {
  .offer {
    padding-top: 175px;
    padding-bottom: 75px;
  }
}
@media screen and (max-width: 880px) {
  .offer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .offer__title,
  .offer__description {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .offer__title {
    font-size: 36px;
  }
  .offer {
    padding-top: 50px;
  }
  .offer__description {
    padding-bottom: 20px;
  }
}
.button {
  background-color: #34547a;
  color: #fff;
  border: 1px solid transparent;
  padding: 18px 41px;
  display: inline-flex;
  line-height: 1.64;
  text-decoration: none;
  letter-spacing: 0.1em;
  min-width: 225px;
  justify-content: center;
  position: relative;
}

.button:hover,
.button:focus {
  opacity: 0.8;
}

.button:active {
  opacity: 0.3;
}

@media screen and (max-width: 500px) {
  .button__container {
    display: grid;
    grid-template-columns: 2, auto;
    gap: 20px;
  }
  .button {
    padding: 10px 31px;
    min-width: 120px;
  }
}
.color-block {
  background-color: #34547a;
  width: 100vw;
}

.color-block__item {
  margin-right: 20px;
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 1170px) {
  .color-block__item {
    max-width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .color-block {
    height: auto;
  }
}
.footer {
  height: 151px;
  color: #fff;
  margin-bottom: 0;
  position: absolute;
}

.footer__content {
  padding-left: calc(50vw - 555px);
  padding-top: 50px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.footer h3 {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 500;
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer p {
  font-size: 13px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (max-width: 1170px) {
  .footer {
    position: relative;
    padding-left: calc(50vw - 360px);
  }
}
@media screen and (max-width: 880px) {
  .footer__content {
    position: relative;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 500px) {
  .footer__content {
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .footer h3 {
    font-size: 18px;
    font-weight: 300;
  }
}
.item-section {
  color: #fff;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.item-section__group {
  display: flex;
  align-items: center;
  width: 140px;
}

.item-section h3:not(.h3-text) {
  font-weight: 500;
}

@media screen and (max-width: 1170px) {
  .item-section {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 880px) {
  .item-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }
}
@media screen and (max-width: 500px) {
  .item-section {
    height: auto;
  }
  .item-section {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-section__title {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  color: #000;
}

.text-section__description {
  max-width: 540px;
  color: #727272;
}

@media screen and (max-width: 880px) {
  .text-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .text-section__title,
  .text-section:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .text-section__title {
    font-size: 30px;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.64;
}

.mb50 {
  margin-bottom: 50px;
}

@media screen and (max-width: 880px) {
  iframe {
    width: 80vw;
  }
}/*# sourceMappingURL=style.css.map */