
.container {
    padding: 0 calc(50vw - 555px);
    
}
 @media screen and (max-width: 1170px){
  
    .container{
        padding-left: calc(50vw - 360px);
        padding-right:calc(50vw - 360px);
        width: 100%;
    }

    .container header{
        width: 100%;
        display: flex;
        align-self: flex-end;
    }
}

    @media screen and (max-width: 880px){
        .container{
            padding-left: calc(50vw - 260px);
            padding-right: calc(50vw - 260px);
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @media screen and (max-width: 500px){
        
        .container{
            padding-left: calc(50vw - 160px);
            padding-right: calc(50vw - 160px);
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
        }
    }